.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}

/* Individual category box */
.CategoryBox {
  width: 120px; /* Reduce the width of the category box */
  height: 120px; /* Make the width and height the same to create a square shape */
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 50%; /* Set border-radius to 50% to create a circle */
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.CategoryImage {
  width: 80px; /* Reduce the size of the image */
  height: 80px; /* Reduce the size of the image */
  border-radius: 50%;
  margin: 20px auto 5px; /* Adjust margins to center the image vertically */
  overflow: hidden;
}

.CategoryImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CategoryName {
  font-size: 14px; /* Reduce the font size of the category name */
  font-weight: bold;
  color: #333;
}

.CategoryLink {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.CategoryLink:hover {
  color: #0056b3;
}