.MyMessage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.Message {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 5px;
  /* Remove the max-height and overflow-y properties to display all messages */
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin: 5px 0;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  font-size: 16px;
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #333;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
}