form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align form content horizontally */
}

label {
  margin-bottom: 5px;
  width: 150px; /* Adjust the width of the labels as needed */
}

input,
select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Set a fixed width for the input elements */
  box-sizing: border-box; /* Include padding and border within the specified width */
}

/* Description textarea */
textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px; /* Set a fixed width for the textarea */
  height: 100px; /* Set a specific height for the textarea */
  resize: vertical; /* Allow vertical resizing if needed */
  box-sizing: border-box; /* Include padding and border within the specified width and height */
}

/* Add some extra styling when inputs are focused */
input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px; /* Adjust the width of the button as needed */
}

/* Add some extra styling when the button is hovered */
button[type="submit"]:hover {
  background-color: #0056b3;
}